/* =============================================================================
   Backgrounds
   ========================================================================== */

.red-bg {
	background-color: #c11d2d;
}

.dark-blue-bg {
	background-color: #2c5065;
}

.blue-bg {
	background-color: #016e9e;
}

.light-blue-bg {
	background-color: #3895cb;
}

.white-bg {
	background-color: #FFFFFF;
}

.black-bg {
	background-color: #000000;
}

.semi-black-bg {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
}

.grey-bg {
	background-color: #f0f0f0;
}

a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	@include transition(all 0.3s ease);
}

h1 {
	@include avenir-regular;
	@include font-size(28);
}

h2 {
	@include avenir-medium;
	font-size: 3.5em;
}

h3 {
	@include avenir-regular;
	text-transform: uppercase;
	@include font-size(20);
}

h4 {
	margin: 5px 0;
	font-size: 2em;

}

h5 {
	margin: 5px 0;
	font-size: 1.6em;
}

p {
	margin: 1em 0;
	line-height: 1.5em;
	font-size: 1.3em;
}

sup {
   top: -0.2em;
   text-transform: lowercase;
}

pre {
	background: #0977bc;
	display: block;	
	text-align: center;
	@include border-radius(3em);
	padding: 1em 1em 0.5em;
	width: 90%;
	position: relative;
	span {
		line-height: 0.7em;
	}
}

.huge {
	font-size: 150%;
}

.big {
	font-size: 130%;
}

.small {
	font-size: 90%;
}

.tiny {
	font-size: 70%;
}

p.tiny {
	margin: 5px 0;
}

.bold,
strong,
b {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.italic {
	font-style: italic;
}

.align-left,
.text-left {
	text-align: left;
}

.align-right,
.text-right {
	text-align: right;
}

.align-center,
.text-center {
	text-align:  center;
}

.normal-style {
	font-style: normal;	
}

.underline {
	text-decoration: underline;	
}

.uppercase {
	text-transform: uppercase;
}

.black {
	color: #000;
}

.white {
	color: #fff;
}

.grey {
	color: #a8a8a8;	
}

a.grey:hover {
	color: #878787;	
}

.dark-grey {
	color: #333333;
}

a.dark-grey:hover {
	color: #141414;
}

.light-grey {
	color: #585858;	
}

a.light-grey:hover {
	color: #a8a8a8;	
}

.orange {
	color: #d35c2a;	
}

a.orange:hover {
	color: #ac4b22;
}

.pink {
	color: #ed1375;	
}

.blue {
	color: #0d4d66;	
}

.teal {
	color: #13a89e;
}

.red {
	color: #ed2724;
}

.green {
	color: #557e06;
}

.purple {
	color: #9c0059;
}

a.purple:hover {
	color: #000000;
}
.error {
	color: #7e0606;
}

/* =============================================================================
   Misc
   ========================================================================== */


.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hide {
	display: none;
}


.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-middle {
	vertical-align: middle;	
}

.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background-color: #fff;
	border: 0;
    height: 5px;
	margin: 0 auto;
	width: 15%;
}


.border {
	border: 1px solid #969696;
}

.border-bottom {
	border-bottom: 1px solid #969696;	
}

.border-top {
	border-top: 1px solid #969696;	
}

.border-left {
	border-left: 1px solid #969696;	
}

.border-right {
	border-right: 1px solid #969696;	
}

.thick-border-top {
	border-top: 2px solid #FFF;
}

.thick-border-bottom {
	border-bottom: 2px solid #FFF;
}

.margin-bottom {
	margin-bottom: 7em !important;
}

.overlay {
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
}

.box {
	background: #f0f0f0;
	border: 1px solid #bebebe;
	@include border-radius(5px);
	padding: 1em 2em;

	&.arrow-down {
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 35px;
			height: 41px;
			background: url(../images/misc/arrow_down.png) no-repeat;
			position: absolute;
			left: 50%;
			bottom: -40px;
			margin-left: -17px;
		}
	}
}
	
blockquote {
	background: #ffffff url(../images/icons/quotes_start.png) 15px 15px no-repeat;
	@include box-shadow(0 2px 5px #65696b);
	padding: 2em 4.5em 3em;
	@include border-radius(3em);
	position: relative;
	margin: 5em 0 0 0;
	behavior: url(/wordpress/wp-content/themes/twistkey/pie/PIE.htc);

	&:before {
    	background: url("../images/misc/speech_bubble_right.png") no-repeat scroll left top transparent;		
	    content: "";
	    height: 2.2em;
	    right: 15%;
	    position: absolute;
	    top: -2.2em;
	    width: 4.5em;
	};

	&:after {
		content: '';
		width: 2.4em;
		height: 1.6em;
		background: url(../images/icons/quotes_end.png) left top no-repeat;
		position: absolute;
		right: 5%;
		bottom: 5%;
	};	

	p {
		font-size: 1.4em;
		color: #1b2b44;
		margin-bottom: 0;

		@include device-width(4) {
			font-size: 1.2em;
		}
	}

	small {
		color: #333333;
		font-weight: bold;
	}

}

.post-category {
	font-size: 12px;

	a {
		color: #b50f0c;
	}
}

.pagination {
	text-align: center;
	margin: 10px 0;
	font-size: 12px;
	ol {
		list-style: none;
		display: inline-block;
		clear: block;
		margin: 0;
		padding: 0;
	}

	li {
		float: left;
		a {
			color: #a40000;
		}

		a, span {
			display: inline-block;
			margin: 0 5px;
		}

	}
}

/* =============================================================================
   Lists
   ========================================================================== */
menu, ol, ul {
	list-style-type: none;
}

	// ul {
	// 	margin-top: 3em;
	// 	padding: 0;

	// 	li {
	// 	    font-size: 1.4em;
	// 	    margin: 1em 0;
	// 	    padding-left: 1.5em;
	// 		background: url(../images/icons/list-tick.png) left top no-repeat;
	// 		line-height: 1.3em;
	// 	}
	// }


.tick-list {
	padding: 0;
	list-style: none;

	li {
		background: url(../images/icons/list-tick-fat.png) left 0.4em no-repeat;
		font-size: 1.3em;
		padding-left: 2em;
		line-height: 1.4em;
		margin-bottom: 0.7em;
	}
}	
 

/* =============================================================================
   Buttons
   ========================================================================== */


/* =============================================================================
   Grid
   ========================================================================== */

.row {

	.span {
		padding: 0;

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container:before,
.container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after {
    clear: both;
}

.container {
	max-width: 630px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	 *zoom: 1;
	 

	 @include device-width(7){
	 	width: auto;
	 	margin-left: 2em;
	 	margin-right: 2em;
	 }
}

.span {
	min-height: 0px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	display: block;
	position: relative;
	@include box-sizing(border-box);

	embed, iframe, object {
	    width: 100%;
	}

	a:hover {
		text-decoration: underline;
	}
}

.break {
	@include device-width(6) {
		width: 100% !important;
		height: auto !important;
	}
}

.alpha.span {
	padding-left: 0px;
}

.omega.span {
	padding-right: 0px;
}
 
$columns: ((one, 10%), (two, 20%), (two-and-half, 25%), (three, 30%), (one-third, 33%), (four, 40%), (five, 50%), (six, 60%), (seven, 70%), (seven-and-half, 75%), (eight, 80%), (nine, 90%), (ten, 100%));
$total_columns: length($columns);

@mixin columns(){
	$i: 1;
	@each $column in $columns {
		$class: nth($column, 1);
		$width: nth($column, 2);
		
		.span.#{$class} {
			width: ($width);
		}

		.push-#{$class} {
			margin-left: ($width);
		}

		.pull-#{$class} {
			margin-left: -($width);
		}
		$i: $i + 1;
	}
}

@include columns();


.left, .alignleft {
	float: left;
}

.right, .alignright {
	float: right;
}

.aligncenter,
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.third-width {
	width: 33%;
}

.full-height {
	height: 100%;
}

.hide-on-mobile {

	@include device-width(6) {
		display: none !important;
	}
}

.hide-on-desktop {
	display: none;
	@include device-width(6) {
		display: block !important;
	}
}

.span.break-on-tablet {
	@include device-width(8) {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

.span.break-on-mobile {
	@include device-width(5) {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

/* =============================================================================
   Gravity
   ========================================================================== */   

.gform_wrapper {

	.span {
		&.five {
			width: 49%;
		}
	}

	label {
		@include avenir-bold;
	    display: block;
		@include font-size(11);
		text-transform: uppercase;
	    color: #989898;
	}	

	input[type=submit] {
	    -webkit-appearance: none;
	    border-radius: 0;		
	}

	input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password] {
		border: 1px solid #424242;
		height: 30px;
		color: #989898;
		@include box-sizing(border-box);
		padding: 0 10px;
	    -webkit-appearance: none;
	    border-radius: 0;
	    -webkit-appearance: none;
	    border-radius: 0;
	    background: #333;	    
	}

	input[type="radio"]:checked+label, input[type="checkbox"]:checked+label {
		font-weight: normal !important;
	}

	.hideradio input[type="radio"] {
		display:none;
	}
	


	ul {
		li.gfield {
			clear: none;
			margin: 15px 0;

			&.car-select {
				.gfield_radio {

					li {
						width: 25%;
						float: left;

						@include device-width(5) {
							width: 50%;
						}				

						input[type="radio"]+label span {
							display: block;
							text-align: center;
							@include avenir-medium;
							@include font-size(13);
							color: #989898;
							text-transform: uppercase;
						}

						input[type="radio"]+label img {
							opacity: 0.6;
							max-width: 100%;
							height: auto;
							border: 1px solid #989898;
							background: #333;

							@include device-width(5) {
								max-width: 99%;
							}

						}

						input[type="radio"]:checked+label img, input[type="radio"]:hover+label img{
							opacity: 1;
						}

						label {
							margin: 0;
							padding: 0;

							&:hover {
								img {
									opacity: 1;
									cursor: pointer;
								}
							}
						}						

						input[type="radio"]:checked+label span {
							@include avenir-bold;
							color: #FFF;
						}					
					}
				}
			}

			&.selectbox {
				border: 1px solid #989898;
				border-top: 7px solid #989898;
				text-align: center;
				padding: 20px 0;
				margin-top: 50px;
				position: relative;

				.gfield_required {
					display: none;
				}

				.icon {
					position: absolute;
					top: -30px;
					left: 41%;
					font-size: 35px;
					background: #FFF;
					@include border-radius(50%);
					border: 3px solid #a37a18;
					color: #ffb302;
					background: #000;
					width: 42px;					
				}

				.gfield_radio {
					li {
						@include inline-block;
						margin: 0 3px;

						input[type=radio] {
							margin: 1px 0px 1px 6px;
						}					
					}
				}				
			}

			&.input-next-label {

				.gfield_required {
					display: none;
				}

				.gfield_label, .ginput_container {
					width: 50%;
					float: left;

					@include device-width(7) {
						width: 100%;
					}
				}
			}

			&.tc-agree {
				.gfield_required {
					display: none;
				}			
				
				.gfield_checkbox {
					text-align: center;

					li {
						@include inline-block;
					}
				}	
			}
		}
	}

	.gsection {
		border: none;
		// border-top: 1px solid #efefef;
		padding: 45px 0 15px;
		clear: both !important;

		&:first-child {
			border-top: none;
		}

		&.blank {
			padding: 0;
		}

		.gsection_title {
			@include avenir-medium;
			@include font-size(20);
			text-transform: uppercase;
			color: #ffb302;
		}
	}

	.validation_error {
		text-transform: uppercase;
	}

	#gforms_confirmation_message {
		text-transform: uppercase;
		color: green;
		font-weight: bold;
		@include font-size(20);
		text-align: center;		
	}

	.gfield_description.validation_message {
		text-align: center !important;
	}	

	.gform_footer {
		display:block;
		width: 107px;
		position: relative;
		padding: 0;
		margin: 16px auto;

		@include device-width(5) {
			width: 105px;
		}

		&:after {
			left: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			cursor: pointer;
		}

		&:after {
			border-color: rgba(151, 26, 48, 0);
			border-left-color: #ffb302;
			border-width: 18px;
			top: 50%;
			margin-top: -18px;
			cursor: pointer;			
		}		

		.gform_button {
			@include avenir-medium;
			font-size: 15px !important;
			height: 36px;
			line-height: 36px;
			color: #333;
			background: #ffb302;
			padding: 0 10px;
			border: none;
			text-transform: uppercase;
			padding: 0 25px !important;
		}

		&:hover {
			&:after {
				border-left-color: #333;
				cursor: pointer;
			}		

			.gform_button {
				background: #333;
				color: #ffb302;
			}	
		}			
	}
}

	.selecter-element { *left: -999999px; position: absolute; opacity: 0; display: none; }

	.selecter {
		display: block;
		position: relative;
		max-width: 30%;
		z-index: 1;

		@include device-width(5) {
			max-width: 99%;
		}		

		.selecter-selected {
			background:#333 url('../images/buttons/select_arrows.png') no-repeat 95% center; 
			border: 1px solid #424242; 
			cursor: pointer; 
			display: block; 
			font-size: 13px; 
			margin: 0; 
			overflow: hidden; 
			padding: 8px 10px; 
			position: relative; 
			text-overflow: clip; 
			color: #989898;
			z-index: 49; 
		}	

		.selecter-options { 
			border: 1px solid #424242; 
			border-width: 0 1px 1px; 
			background-color: #fefefe; 
			border-radius: 0 0 3px 3px; 
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); 
			display: none; 
			left: 0; 
			margin: 0; 
			max-height: 260px; 
			overflow: auto; 
			overflow-x: hidden; 
			padding: 0; 
			position: absolute; 
			top: 100%; 
			width: 100%; 
			*width: auto; 
			z-index: 50;
		}			

		.selecter-group { 
			background: #F9F9F9; 
			border-bottom: 1px solid #424242; 
			color: #999; 
			display: block; 
			font-size: 11px; 
			padding: 5px 10px 4px; 
			text-transform: uppercase;
		}	

		.selecter-item { 
			background: #000; 
			border-bottom: 1px solid #424242; 
			color: #989898; 
			cursor: pointer; 
			display: block; 
			font-size: 13px; 
			margin: 0; 
			overflow: hidden; 
			padding: 8px 10px; 
			text-overflow: ellipsis; 
			width: 100%; 

			&.selected { 
				background: #333; 
			}

			&.disabled { 
				color: #999; 
				cursor: default; 
			}

			&.first { 
				border-radius: 0; 
			} 

			&.last { 
				border-radius: 0 0 2px 2px; 
				border-bottom: 0; 
			}
		}		

		.open { 
			z-index: 3; 

			.selecter-selected { 
				border-radius: 3px 3px 0 0; 
				z-index: 51; 
			}
		}
	}
	 
	.selecter.focus .selecter-selected { background-color: #fff; }
	
	/* 'Cover' Positioning */
	.selecter.cover .selecter-options { border-radius: 3px; border-width: 1px; top: 0; }
	.selecter.cover .selecter-options .selecter-item.first { border-radius: 3px 3px 0 0; }
	.selecter.cover.open .selecter-selected { border-radius: 3px 3px 0 0; z-index: 49; }
	
	/* 'Bottom' Positioning */
	.selecter.bottom .selecter-options { border-width: 1px 1px 0; bottom: 100%; top: auto; }
	.selecter.bottom .selecter-item.last { border: none; }
	.selecter.bottom.open .selecter-selected { border-radius: 0 0 3px 3px; }
	.selecter.bottom.open .selecter-options { border-radius: 3px 3px 0 0; }
	
	/* 'Bottom' + 'Cover' Positioning */
	.selecter.bottom.cover .selecter-options { bottom: 0; top: auto; }
	.selecter.bottom.cover.open .selecter-selected { border-radius: 3px; }
	.selecter.bottom.cover.open .selecter-options { border-radius: 3px; }
	
	/* Multiple Select */
	.selecter.multiple .selecter-options { border-radius: 3px; border-width: 1px; box-shadow: none; display: block; position: static; width: 100%; }
	
	/* 'Disabled' State */
	.selecter.disabled .selecter-selected { background: #fff; border-color: #eee; color: #ccc; cursor: default; }
	.selecter.disabled .selecter-options { background: #fff; border-color: #eee; }
	.selecter.disabled .selecter-group,
	.selecter.disabled .selecter-item { border-color: #eee; color: #ccc; cursor: default; }
	.selecter.disabled .selecter-item.selected { background: #000; }
	
	/* Scroller Support */
	.selecter .selecter-options.scroller { overflow: hidden; }
	.selecter .selecter-options.scroller .scroller-content { max-height: 260px; padding: 0; }